.entity {
    border: #444 solid 1px;
    padding: 5px 20px;
}

.entity.first {
    border-width: 1px;
}

.entity.second {
    border-width: 2px;
}

.property {
    display: block;
    padding: 5px;
	margin-bottom: 10px;
}

.property .key,
.property .value {
    display: block;
}
.property .key {
    /*width: 200px;*/
	margin-bottom: 5px;
	font-size: larger;
}

.property .value {
	margin-left: 20px;
}