body {
  padding: 24px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#body {
    max-width: 1200px;
    margin: 0 auto;
}

a {
  color: #00B7FF;
}

p,li,dt,dd {
    padding: 5px;
    line-height: 1.4;
}