body {
  padding: 24px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#body {
    max-width: 1200px;
    margin: 0 auto;
}

a {
  color: #00B7FF;
}

p,li,dt,dd {
    padding: 5px;
    line-height: 1.4;
}

ul.entities li {
    width: 180px;
    height: 180px;
    display: inline-block;
    margin: 15px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    word-break: break-all;
}

#main.entity {
	border: 2px solid #333;
}

.entity:hover {
	background-color: #222;
	color: white;
	cursor: pointer;
}

#main.entity:hover {
	background-color: white;
	color: black;
	cursor: default;
}