body {
  padding: 24px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#body, header, footer {
    max-width: 1200px;
    margin: 0 auto;
}

header {
	padding: 10px;
	margin-bottom: 20px;
	background-color: black;
	color: white;
}
header a {
	font-weight: bold;
	color: white;
}
header a:hover {
	color:white;
	text-decoration: underline;
}

footer {
	border-top: 3px solid black;
	margin: 30px auto 50px auto;
}

a {
  color: #00B7FF;
}

p,li,dt,dd {
    padding: 5px;
    line-height: 1.4;
}

ul.entities li {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    overflow: auto;
}
ul.entities li a.entity {
	color: black;
	display: block;
	color: black;
	width: 180px;
	height: 180px;
	border: 1px solid black;
	border-radius: 15px;
	padding: 5px 10px;
}
ul.entities li a.entity:hover {
	color: white;
}

ul.entities li a h3 {
	font-size:1.1em;
	font-weight: bold;
	text-align: center;
}

#main.entity {
	border: 2px solid #333;
    margin-bottom: 20px;
}

.entity {
    margin-bottom: 10px;
}

.entity:hover {
	background-color: #222;
	color: white;
	cursor: pointer;
}

#main.entity:hover {
	background-color: white;
	color: black;
	cursor: default;
}

.entities {
    margin-bottom: 20px;
    border: 1px solid #999;
    padding: 10px;
}
